* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f6fb;
    color: #0b1d39;
    padding: 0;
   }

  header {
    background-color: #0b1d39;
    color: white; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   .logo {
    font-size: 24px;
    font-weight: 700;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
    font-weight: 500;
  }

  .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px; 
  }

   .search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

  }
 
  .search input {
    width: 60%;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
  }

  .cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .card { 
    width: 300px;
    height: 200px;
    border-radius: 16px;
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1); 
  }

  .html { background-color: #ff5722; } 
  .css { background-color: #2196f3; }
.js { background-color: #f7df1e; color: #000; }

  footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
  }




  




  .boxline {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.boxline h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
}

.boxline p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.boxline code {
    background-color: #f1f1f1;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 1.1em;
    color: #c73b3b;
}

.boxline a {
    margin-top: 10px;
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

.boxline a:hover {
    text-decoration: underline;
}

.borderfiltres {
    border-radius: 600px 1000px 0px 0px;


}








