@import url(header.css);
@import url(main.css);
@import url(section.css);
@import url(footer.css);
@import url(../fonts/font.css);
@import url(quiz.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f6fb;
  color: #0b1d39;
  padding: 0;
}

body.dark-theme {
  background-color: black;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}
.logo img {
  width: 70px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.search {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}