header {
  background-color: var(--bg-tertiary);
  color: var(--text-light);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  margin-left: 24px;
  font-weight: 500;
}
